# Environment variables for the wallet service application

# Port on which the application will run
PORT=:8080

# Database connection string (Data Source Name)
DB_DSN=postgres://username:password@localhost:5432/database_name?sslmode=disable

# Secret key for signing JWT tokens (keep this secure and do not share)
JWT_SECRET=

# Stripe secret key for payment processing (replace with your actual key)
STRIPE_SECRET_KEY=

# Stripe webhook secret for verifying incoming webhook requests (replace with your actual key)
STRIPE_WEBHOOK_SECRET=
